body {
    font-family: sans-serif;
}

#board {
    display: flex;
    flex-direction: column;
}

.cellContainer {
    display: flex;
}

.cell {
    border: 1px solid green;
}

.checker {
    border: 3px solid green;
    border-radius: 50%;
  }