body {
    font-family: sans-serif;
}

#board {
    display: flex;
    flex-direction: column;
}

.cellContainer {
    display: flex;
}

.cell_black {
    border: 1px solid green;
    background-color: brown;
}
.cell_white {
    border: 1px solid green;
    background-color: white;
}

.cell_black.with_pawn_white::before {
    content: '';
    display: inline-block;

    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;

    background-color: white;
    position: relative;
  }

  .cell_black.with_pawn_black::before {
    content: '';
    display: inline-block;

    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;

    background-color: black;
    position: relative;
  }

  .cell_black.with_pawn_white_selected::before {
    content: '';
    display: inline-block;

    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;

    background-color: yellow;
    position: relative;
  }